Options -Indexes
IndexIgnore * 

ErrorDocument 403 /403.html
ErrorDocument 404 /404.html


RewriteEngine On
RewriteCond %{HTTP_HOST} ^anadiccolima.com [NC]
RewriteRule ^(.*)$ http://www.anadiccolima.com/$1 [L,R=301]